In [69]:
import pandas as pd
import xlrd

In [70]:
df = pd.read_excel("D:\\Desarrollo\\Diplomado\\Modelos Estadisticos\\Datos\\Consumo_Gasolina_Autos_Ene_2018.xlsx")

In [71]:
df.head

<bound method NDFrame.head of            Marca     Submarca                                        Versión  \
0           FORD       FUSION         HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT)
1           FORD       FUSION        HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT)
2           FORD       FUSION  HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT
3           FORD       FUSION         HIBRIDO 4PTAS 2.0L 4CIL 188HP AUT eCVT
4           FORD       FUSION                HYBRID 4PTS 2.5L 4CIL 156HP CVT
...          ...          ...                                            ...
4612  LAND ROVER  RANGE ROVER               SUPERCARGADA 5PTS 5.0L 506HP AUT
4613  LAND ROVER  RANGE ROVER          SUPERCARGADA 5PTS 5.0L 8CIL 506HP AUT
4614    MERCEDES         G 65     AMG 4X4 5PTAS 6.0L 12CIL 630HP AUT BITURBO
4615    MERCEDES         G 65         AMG 5PTAS 6.0L 12CIL 630HP BITURBO AUT
4616    MERCEDES     ML63 AMG                       5PTS 6.2L 8CIL 503HP AUT

      Modelo    Trans.     Comb.  Cilindros  Potencia (HP)  Tamaño (L)  \
0       2015       CVT  Gasolina          4            188        2.00
1       2016       CVT  Gasolina          4            188        2.00
2       2017       CVT  Gasolina          4            188        2.00
3       2018       AUT  Gasolina          4            188        2.00
4       2011       CVT  Gasolina          4            156        2.50
...      ...       ...       ...        ...            ...         ...
4612    2012       AUT  Gasolina          8            506        5.00
4613    2013       AUT  Gasolina          8            506        5.00
4614    2016       AUT  Gasolina         12            630        5.98
4615    2018       AUT  Gasolina         12            630        5.98
4616    2011  G TRONIC  Gasolina          8            503        6.20

                             Categoría  R. Ciudad (km/l)  R. Carr. (km/l)  \
0                      AUTOS COMPACTOS             27.44            28.57
1                      AUTOS COMPACTOS             27.44            28.57
2                      AUTOS COMPACTOS             25.62            24.77
3                      AUTOS COMPACTOS             25.62            24.77
4                      AUTOS COMPACTOS             24.00            21.90
...                                ...               ...              ...
4612  CAMIONETAS DE USO MULTIPLE (SUV)              4.42             9.60
4613  CAMIONETAS DE USO MULTIPLE (SUV)              4.42             9.60
4614  CAMIONETAS DE USO MULTIPLE (SUV)              4.41             7.30
4615  CAMIONETAS DE USO MULTIPLE (SUV)              4.41             7.30
4616  CAMIONETAS DE USO MULTIPLE (SUV)              4.14             8.19

      R. Comb. (km/l)  R. Ajust. (km/l)  CO2(g/km)  NOx (g/1000km)  \
0               28.93             21.70        107               5
1               28.93             21.70        107               0
2               25.23             18.92        123               2
3               25.23             18.92        123               2
4               23.01             17.26        135               5
...               ...               ...        ...             ...
4612             6.97              5.22        446              39
4613             6.97              5.22        446              39
4614             6.45              4.84        482              38
4615             6.45              4.84        482              38
4616             5.33              3.99        584              31

      Calificación Gas Ef. Inv. Calificación Contam. Aire
0                            10                         9
1                            10                         9
2                            10                         9
3                            10                         9
4                             9                         9
...                         ...                       ...
4612                          0                         ?
4613                          0                         ?
4614                          0                         ?
4615                          0                         ?
4616                          0                         6

[4617 rows x 18 columns]>

In [72]:
def resumen_transmisión(x):
    if  x != 'MAN':
        return 'AUT'

In [73]:
df['Trans_resumen'] = df['Trans.'].map(resumen_transmisión)

In [74]:
df.head()

,Marca,Submarca,Versión,Modelo,Trans.,Comb.,Cilindros,Potencia (HP),Tamaño (L),Categoría,R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Calificación Contam. Aire,Trans_resumen
0,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT),2015,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,5,10,9,AUT
1,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT),2016,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,0,10,9,AUT
2,FORD,FUSION,HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT,2017,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9,AUT
3,FORD,FUSION,HIBRIDO 4PTAS 2.0L 4CIL 188HP AUT eCVT,2018,AUT,Gasolina,4,188,2.0,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9,AUT
4,FORD,FUSION,HYBRID 4PTS 2.5L 4CIL 156HP CVT,2011,CVT,Gasolina,4,156,2.5,AUTOS COMPACTOS,24.00,21.90,23.01,17.26,135,5,9,9,AUT

In [96]:
df.describe()

,Cilindros,Potencia (HP),Tamaño (L),R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Calificación Contam. Aire
count,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.00000,4617.000000,4617.000000,4617.000000
mean,5.329218,254.991553,2.869923,10.604934,16.612749,13.183803,9.887754,256.53368,30.803552,4.885207,7.119125
std,1.800226,132.791017,1.347559,3.285876,4.186279,3.603346,2.702537,75.57912,56.901643,2.484840,1.774096
min,3.000000,60.000000,0.898000,3.100000,6.700000,4.960000,3.720000,107.00000,0.000000,0.000000,1.000000
25%,4.000000,150.000000,1.800000,8.200000,13.480000,10.460000,7.850000,200.00000,10.000000,3.000000,5.000000
50%,4.000000,220.000000,2.500000,10.420000,16.390000,12.870000,9.650000,243.00000,17.000000,5.000000,7.000000
75%,6.000000,330.000000,3.600000,12.810000,19.600000,15.610000,11.710000,299.00000,28.000000,7.000000,9.000000
max,12.000000,888.000000,8.400000,27.460000,31.300000,28.930000,21.700000,627.00000,724.000000,10.000000,9.000000

In [76]:
df['Modelo'] = str(df['Modelo'])

In [77]:
df['Comb.'].unique()

array(['Gasolina', 'Diesel'], dtype=object)

In [78]:
df['Categoría'].unique()

array(['AUTOS COMPACTOS', 'AUTOS DE LUJO', 'AUTOS DEPORTIVOS',
       'AUTOS SUBCOMPACTOS', 'CAMIONETAS DE USO MULTIPLE (SUV)'],
      dtype=object)

In [79]:
df['Trans.'].unique()

array(['CVT', 'AUT', 'MAN', 'DSG', 'TIPT', 'TIPTRONIC', 'M6', 'M5', nan,
       'DUALOGIC', 'TIP', 'MULTITRONIC', 'MULTIT', 'STRONIC', 'S TRONIC',
       'S TRONIC 7', 'MAN 6', 'PDK', 'DCT', 'G TRONIC', 'TIP 8',
       'R TRONIC', 'ZF SPEED QUICKSHIFT', 'DKG', 'ASG'], dtype=object)

In [80]:
marca = df['Marca'].unique()

In [81]:
marca

array(['FORD', 'HONDA', 'SEAT', 'MAZDA', 'CHEVROLET', 'VW', 'SUZUKI',
       'NISSAN', 'HYUNDAI', 'FIAT', 'MITSUBISHI', 'KIA', 'MERCEDES',
       'DODGE', 'RENAULT', 'PEUGEOT', 'TOYOTA', 'BMW', 'AUDI', 'MINI',
       'SUBARU', 'INFINITI', 'VOLVO', 'ALFA ROMEO', 'PORSCHE', 'ACURA',
       'CADILLAC', 'CHRYSLER', 'LINCOLN', 'BUICK', 'SAAB', 'LEXUS',
       'JAGUAR', 'BENTLEY', 'ROLLSROYCE', 'MAYBACH', 'LAMBORGHINI',
       'SMART', 'LAND ROVER', 'GML', 'JEEP', 'MERCURY', 'GMC'],
      dtype=object)

In [82]:
len(marca)

43

In [83]:
submarcas = df['Submarca'].unique()

In [84]:
submarcas

array(['FUSION', 'CIVIC', 'CIVIC HIBRIDO', 'TOLEDO', 'MAZDA2', 'CRUZE',
       'GOLF', 'JETTA', 'CAVALIER', 'S-CROSS', 'SENTRA', 'MAZDA3',
       'ELANTRA', 'BEETLE', 'FOCUS', 'CX-3', 'DOBLO', 'LANCER', 'VERSA',
       'TIIDA', 'SOUL', 'JUKE', 'MALIBU', 'A 200', 'CITY', 'VISION',
       'CLASICO', 'FIT', 'DART', 'MAZDA6', 'B 180', 'A180', 'A200',
       'FORTE', 'STEPWAY', 'OPTIMA', 'B180', 'ASX', 'CLÁSICO',
       'GRAND RAID', 'A 250', 'SX4', 'A250', 'HR-V', 'MAZDA 2',
       'JETTA MKVI', 'MAZDA5', 'MAZDA 6', 'COROLLA', 'CALIBER', 'AVENGER',
       '301', 'MATRIX', '307', '308', 'B200', 'LINEA', 'MAZDA 3', 'A 45',
       '207', 'AVANZA', 'TAURUS (POLICE INTERCEPTOR)', 'FUSION SPORT',
       'FLUENCE', 'POLICE INTERCEPTOR', 'VOLT', 'PRIUS HIBRIDO', 'PRIUS',
       '335iA', 'A4', 'A3', 'i8', 'R8', 'COOPER', 'A1', '318iA', '218iA',
       'IMPREZA', 'CLS350', 'X1', 'Q50', 'ALTIMA', 'CLA200', '330iA',
       '320iA', 'TT', 'LEGACY', '430iA', 'V40', '220iA', 'XV',
       'GIULIETTA', 'MITO', '420iA', 'MACAN', 'CLA 180', 'CLA 200',
       '118iA', 'A6', 'C 180', 'C 200', 'C 250', 'GLA 180', 'GLA 200',
       '120iA', 'GENESIS', 'SONATA', 'ILX', '118i', '116iA', 'S60', 'A5',
       'CAMRY', 'PANAMERA', '120i', 'SLC 180', 'C180', 'SLC 300', '535iA',
       'CAYMAN', 'MAXIMA', 'GLA 250', 'SLC 200', 'KIZASHI', 'CLA 250',
       'E 200', 'E 250', '4C', '328iA', '340iA', 'ATS', '428iA', 'CLA250',
       '328i', '200', 'MKZ', '520iA', '528iA', 'V60', 'CTS', 'ACCORD',
       'TL', 'PASSAT', '740iA', 'A7', 'M4', 'GLC 250', 'TSX', '440iA',
       'CLA45', 'E 300', 'Z4', 'XC60', 'VERANO', 'REGAL', 'TTS', 'S3',
       '740LiA', 'RCZ', 'SLK200', 'G25', 'A8', 'WRX', 'PASSAT CC', 'C30',
       'GLC 300', 'S4', 'S5', 'NSX', 'M140iA', 'M240iA', '750iA', 'RS Q3',
       'CLA 45', 'GLA 45', 'NUEVO PASSAT', 'XC90', 'C180 CGI', 'C250',
       'E250', 'RSQ3', 'E 400', 'G37', 'Q70', 'SAFRANE', 'CHARGER',
       'C200 CGI', 'M37', 'C200', '535i', 'E200', 'MKC', 'TAURUS',
       'M135iA', 'M235iA', 'E250 CGI', 'Q60', 'CLS 400', '640iA',
       'SL 400', 'M2', '435iA', 'S40', 'SLC 43', 'S6', 'S7', '125i',
       'C 43', 'C 63', 'Q7', '300', 'E400', 'LACROSSE', '508', 'CORVETTE',
       'TLX', 'C 63 S', 'E 43', '325i', 'CROSSTOUR', 'M3', '335i', 'S8',
       'V COUPE', 'MKX', 'MKS', 'RL', '530iA', '750LiA', '125iA', 'RS7',
       '325iA', 'S80', 'GLC 43', 'M56', 'GLE 43', 'S 500', 'E 63',
       '135iA', 'C350', 'S 400', '9-3', 'CLS 500', 'E350', 'SLK55',
       'CONTINENTAL', '135i', 'SLK350', 'E 500', 'GT', 'RS5', '550iA',
       '650iA', 'IS-C', 'SL 500', 'IS-F', 'SLK200 K', 'CLS500', 'TTRS',
       '159', 'F-TYPE', 'CROWN VICTORIA', 'SL500', 'S350', 'S400', 'E300',
       'CAMARO', 'C300', 'XF', '9-5', 'MULSANNE', '740i', 'E63', 'SL63',
       'CLS63', 'M5', 'M6', 'S 63', 'XJ', 'S63', 'SL 63', 'CL63',
       'CLS 63', '407', 'C70', 'E500', 'RLX', 'FLYING SPUR', 'S500',
       '550i', 'GLE 63', 'CL500', '650i', '750i', '750Li', 'S 600',
       'SL65', 'S 65', 'SL 65', 'S500 L', 'SLK55 AMG', 'C63', '760Li',
       '760LiA', 'SLS', 'RS6', 'GHOST', 'ARNAGE', 'AZURE',
       'BROOKLANDS 6.8 HP TIP Turba?', 'CL600', 'C63 AMG', 'WRAITH',
       'SL600', 'SL63 AMG', 'S600 L', 'S65', 'CL65', 'E63 AMG',
       'CLS63 AMG', 'S600', 'PHANTOM', 'S65L AMG', 'S63L AMG', 'CL63 AMG',
       'CL65 AMG', 'SL65 AMG', '62', 'CR-Z', 'LEON', 'COOPER S', 'MX-5',
       'BRZ', 'BOXSTER', 'TRAX', '918', 'MUSTANG', '911',
       'MINI John Cooper Works', 'JOHN COOPER WORKS', '370Z',
       'MAZDASPEED 3', 'CHALLENGER', 'ECLIPSE', 'VIPER', 'HURACAN', 'XKR',
       'GALLARDO', '140 GALLARDO', 'SLR', 'AVENTADOR', 'MURCIELAGO',
       'FORTWO', 'MIRAGE', 'FORFOUR', 'ATTITUDE', 'VENTO', 'i10', 'SPARK',
       'ATOS', 'BEAT', 'PANDA', 'IBIZA', 'YARIS', 'FIGO', 'CIAZ',
       'GRAND i10', 'NOTE', 'SWIFT', 'UP', 'UNO', 'FIESTA', 'POLO', 'RIO',
       'MATIZ', 'IKON', 'SONIC', 'GOL', 'BRABUS', '500', 'MARCH', 'TSURU',
       'AVEO', 'PALIO', '208', 'CHEVY', 'CROSSFOX', 'ALTEA', 'SANDERO',
       'APRIO', 'PUNTO', 'PUNTO EVO', 'CADDY', 'CLIO', 'FREETRACK',
       'LUPO', 'SCALA', 'ALBEA', 'EXEO', 'NIRO', '2008', 'Q3',
       'TRANSPORTER', 'NUEVA VITARA', 'EXPLORER', 'Q5', 'CRETA', 'CX-5',
       'QX60', 'PATHFINDER', 'EQUINOX', 'TIGUAN', 'TUCSON', 'OUTBACK',
       'VITARA', 'DEFENDER', 'GF-8', 'FORESTER', 'X5', 'H350', 'X-TRAIL',
       'ENCORE', 'TOUAREG', 'CAYENNE', 'V220d', 'OUTLANDER', 'ECOSPORT',
       'SPORTAGE', 'DUSTER', 'SORENTO', 'ROGUE', 'TRANSIT', 'MULTIVAN',
       'CARAVELLE', 'ESCAPE', 'PATRIOT', 'TRAFIC', 'CR-V', 'COMPASS',
       'RAV4', 'RAV 4', 'X3', 'CX-7', 'CX-9', 'SANTA FE', 'GF-70', 'X4',
       'GRAND VITARA', 'ENVISION', 'XT5', 'VITO', 'EDGE', 'V250',
       'SPRINTER', 'EVASION', 'EVASIÓN', 'JOURNEY', 'MARINER', 'CAPTIVA',
       'CAPTIVA SPORT', 'CHEROKEE', 'SRX', 'MURANO', 'JX35', 'SQ5',
       'S Q5', 'ACADIA', '3008', 'CX9', 'URVAN', 'DUCATO', 'X6',
       'DURANGO', 'GRAND CHEROKEE', 'ML350', 'H100', 'ENDEAVOR',
       'GLE 400', 'RDX', 'TERRAIN', 'ZDX', 'FJ CRUISER', 'KOLEOS',
       'TRAVERSE', 'GLK350', 'MONTERO', 'FX37', 'QX70', 'WRANGLER',
       'ENCLAVE', 'TRIBECA', 'SIENNA', 'FX35', 'TOWN & COUNTRY',
       'EXPEDITION', 'HIGHLANDER', 'LIBERTY', 'SUBURBAN',
       'EXPLORER INTERCEPTOR', 'TAHOE', 'RANGE ROVER', 'EXPRESS',
       'ESCALADE', 'YUKON', 'NAVIGATOR', 'ESCALADE SUV', 'GLE 350',
       'ESCALADE ESV', 'LR2', 'GLK300', 'FX50', 'ROUTAN', 'MDX',
       'ODYSSEY', 'G280', 'QX80', 'GLE 500', 'NITRO', 'SEQUOIA', 'G 500',
       'GLS 500', 'QX56', 'ARMADA', 'PILOT', 'R350 L', 'R350', 'HIACE',
       'ML63', 'GLS 63', 'G63', 'G 63', 'ML500', 'LAND CRUISER', 'R500 L',
       'GL500', 'GL63', 'G500', 'X5 M', 'X6 M', 'LR4', 'G55 AMG', 'G55',
       'G 65', 'ML63 AMG'], dtype=object)

In [85]:
len(submarcas)

544

In [86]:
df['Versión'].unique()

array(['HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT)',
       'HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT)',
       'HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT', ...,
       'AMG 4X4 5PTAS 6.0L 12CIL 630HP AUT BITURBO',
       'AMG 5PTAS 6.0L 12CIL 630HP BITURBO AUT',
       '5PTS 6.2L 8CIL 503HP AUT'], dtype=object)

In [90]:
df['Calificación Contam. Aire'].unique()

array(['9', '8', '6', '5', '7', '4', '2', '3', '1'], dtype=object)

In [88]:
def limpia_calificaciones(x):
    if x == '?':
        return '5'
    else:
        return x

In [89]:
df['Calificación Contam. Aire'] = df['Calificación Contam. Aire'].map(limpia_calificaciones)

In [95]:
df['Calificación Contam. Aire'] = df['Calificación Contam. Aire'].astype(int)

In [97]:
df.to_excel()

TypeError: to_excel() missing 1 required positional argument: 'excel_writer'