In [1]:
import pandas as pd

In [2]:
M = [[0]*24 for x in range(24)]

In [3]:
M

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [4]:
df = pd.read_csv("chisp.csv", sep = ',', encoding = 'utf8')

In [5]:
df.head()

   V1  V2  V3  V4  V5
0   1  11  13  21  23
1   6  15  22  23  27
2   1   2   4  12  13
3   3   5  11  13  28
4   7  13  15  19  28

In [6]:
df.tail()

       V1  V2  V3  V4  V5
98275   3   4  11  14  23
98276   1   8  14  15  17
98277   4   7  14  18  23
98278  10  12  15  21  25
98279   3   9  10  18  26

In [7]:
v1 = list(df['V1'])
v2 = list(df['V2'])
v3 = list(df['V3'])
v4 = list(df['V4'])
v5 = list(df['V5'])

In [41]:
print(f'Mínimo v1: {min(v1)}, Máximo v1: {max(v1)}')
print(f'Mínimo v2: {min(v2)}, Máximo v2: {max(v2)}')
print(f'Mínimo v3: {min(v3)}, Máximo v3: {max(v3)}')
print(f'Mínimo v4: {min(v4)}, Máximo v4: {max(v4)}')
print(f'Mínimo v5: {min(v5)}, Máximo v5: {max(v5)}')

Mínimo v1: 1, Máximo v1: 23
Mínimo v2: 2, Máximo v2: 25
Mínimo v3: 3, Máximo v3: 26
Mínimo v4: 4, Máximo v4: 27
Mínimo v5: 5, Máximo v5: 28

In [30]:
max(v1)

24

In [11]:
def matriz_de_transicion(transiciones):
    n =  max(transiciones) + 1
    print(n)
    M =[[0]*n for _ in range(n)]
    for (i,j) in zip(transiciones, transiciones[1:]):
        M[i][j] += 1
    for r in M:
        s = sum(r)
        if s > 0:
            r[:] = [f/s for f in r]
    return M

In [25]:
t = [2,6,8,5,5,7,8,8,4,5,5,4,4,5,3,3,4,5,4]

In [26]:
m1 = matriz_de_transicion(t)

9

In [27]:
len(m1[0])

9

In [28]:
def imprime_matriz(m):
    for i in range(len(m)):
        for j in range (len(m[i])):
            print("%.3f" % m[i][j], end = ' ')
        print()

In [29]:
imprime_matriz(m1)

0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.000 0.000 0.000 0.000 0.000 1.000 0.000 0.000
0.000 0.000 0.000 0.500 0.500 0.000 0.000 0.000 0.000
0.000 0.000 0.000 0.000 0.250 0.750 0.000 0.000 0.000
0.000 0.000 0.000 0.167 0.333 0.333 0.000 0.167 0.000
0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 1.000
0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 1.000
0.000 0.000 0.000 0.000 0.333 0.333 0.000 0.000 0.333

In [50]:
m1.index(max(m1))

18

In [52]:
max(m1[2])

0.18222372423115918