In [6]:
import pandas as pd

In [7]:
M = [[0]*24 for x in range(24)]

In [8]:
M

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [9]:
df = pd.read_csv("chisp.csv", sep = ',', encoding = 'utf8')

In [10]:
df.head()

   V1  V2  V3  V4  V5
0   2   5  16  18  24
1   2   4   8  18  24
2   3   4   6  23  25
3   6   7  10  13  24
4  11  13  14  22  26

In [11]:
df.tail()

       V1  V2  V3  V4  V5
98275   3   9  15  22  25
98276   5   7   8  18  21
98277  19  20  21  24  26
98278   7   8  10  22  23
98279   8   9  21  24  28

In [29]:
v1 = list(df['V1'])
v2 = list(df['V2'])
v3 = list(df['V3'])
v4 = list(df['V4'])
v5 = list(df['V5'])

In [30]:
max(v1)

24

In [42]:
def matriz_de_transicion(transiciones):
    n =  max(transiciones) + 1
    print(n)
    M =[[0]*n for _ in range(n)]
    for (i,j) in zip(transiciones, transiciones[1:]):
        M[i][j] += 1
    for r in M:
        s = sum(r)
        if s > 0:
            r[:] = [f/s for f in r]
    return M

In [43]:
t = [1,1,2,6,8,5,5,7,8,8,1,1,4,5,5,0,0,0,1,1,4,4,5,1,3,3,4,5,4,1,1]

In [44]:
m1 = matriz_de_transicion(v1)

25

In [45]:
len(m1[0])

25

In [48]:
def imprime_matriz(m):
    for i in range(len(m)):
        for j in range (len(m[i])):
            print("%.3f" % m[i][j], end = ' ')
        print()

In [49]:
imprime_matriz(m1)

0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.181 0.149 0.130 0.107 0.087 0.076 0.062 0.049 0.039 0.032 0.023 0.017 0.015 0.011 0.008 0.005 0.003 0.002 0.002 0.001 0.000 0.000 0.000 0.000
0.000 0.182 0.150 0.132 0.105 0.091 0.077 0.059 0.049 0.038 0.031 0.024 0.020 0.013 0.009 0.006 0.005 0.004 0.002 0.002 0.000 0.000 0.000 0.000 0.000
0.000 0.181 0.147 0.132 0.106 0.087 0.074 0.063 0.052 0.041 0.031 0.025 0.018 0.014 0.009 0.007 0.005 0.004 0.002 0.001 0.001 0.000 0.000 0.000 0.000
0.000 0.170 0.155 0.133 0.109 0.089 0.074 0.064 0.048 0.038 0.033 0.023 0.019 0.014 0.009 0.006 0.006 0.003 0.003 0.002 0.001 0.000 0.000 0.000 0.000
0.000 0.178 0.148 0.128 0.108 0.092 0.079 0.056 0.045 0.043 0.031 0.024 0.019 0.014 0.009 0.009 0.006 0.003 0.003 0.001 0.001 0.001 0.000 0.000 0.000
0.000 0.176 0.152 0.129 0.108 0.093 0.074 0.056 0.047 0.038 0.034 0.025 0.018 0.015 0.012 0.008 0.006 0.003 0.003 0.001 0.001 0.000 0.000 0.000 0.000
0.000 0.172 0.155 0.128 0.102 0.094 0.078 0.063 0.043 0.041 0.030 0.026 0.021 0.014 0.012 0.009 0.005 0.002 0.002 0.001 0.001 0.000 0.001 0.000 0.000
0.000 0.177 0.157 0.126 0.106 0.089 0.071 0.066 0.050 0.041 0.031 0.022 0.017 0.015 0.011 0.008 0.006 0.003 0.001 0.001 0.001 0.001 0.000 0.000 0.000
0.000 0.184 0.145 0.124 0.107 0.091 0.077 0.064 0.045 0.041 0.029 0.023 0.022 0.013 0.012 0.009 0.007 0.003 0.002 0.001 0.001 0.000 0.000 0.000 0.000
0.000 0.184 0.141 0.148 0.108 0.085 0.071 0.056 0.045 0.046 0.033 0.021 0.019 0.010 0.011 0.008 0.006 0.002 0.002 0.002 0.001 0.001 0.000 0.000 0.000
0.000 0.173 0.145 0.136 0.111 0.083 0.084 0.060 0.049 0.034 0.034 0.026 0.018 0.017 0.007 0.009 0.006 0.003 0.001 0.001 0.001 0.000 0.000 0.000 0.000
0.000 0.182 0.152 0.125 0.117 0.095 0.066 0.054 0.052 0.038 0.033 0.024 0.022 0.011 0.009 0.006 0.008 0.003 0.001 0.001 0.002 0.000 0.000 0.000 0.000
0.000 0.172 0.165 0.130 0.100 0.097 0.069 0.073 0.048 0.041 0.021 0.025 0.015 0.016 0.012 0.008 0.002 0.002 0.001 0.004 0.000 0.000 0.001 0.000 0.000
0.000 0.167 0.144 0.123 0.118 0.107 0.074 0.061 0.044 0.041 0.023 0.029 0.028 0.013 0.009 0.003 0.009 0.002 0.001 0.004 0.001 0.000 0.001 0.000 0.000
0.000 0.172 0.164 0.125 0.128 0.091 0.073 0.056 0.043 0.035 0.021 0.023 0.017 0.012 0.012 0.011 0.005 0.003 0.004 0.004 0.003 0.000 0.000 0.000 0.000
0.000 0.178 0.149 0.112 0.103 0.114 0.079 0.066 0.040 0.031 0.024 0.039 0.022 0.013 0.013 0.004 0.007 0.004 0.000 0.002 0.000 0.000 0.000 0.000 0.000
0.000 0.132 0.192 0.139 0.076 0.079 0.085 0.050 0.041 0.057 0.035 0.009 0.041 0.009 0.028 0.009 0.003 0.000 0.006 0.006 0.000 0.000 0.000 0.000 0.000
0.000 0.199 0.160 0.121 0.121 0.073 0.078 0.053 0.034 0.053 0.024 0.010 0.029 0.024 0.005 0.005 0.005 0.005 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.156 0.197 0.109 0.116 0.088 0.116 0.048 0.041 0.027 0.007 0.027 0.020 0.000 0.007 0.020 0.000 0.007 0.007 0.000 0.007 0.000 0.000 0.000 0.000
0.000 0.176 0.103 0.147 0.132 0.162 0.074 0.044 0.029 0.074 0.015 0.000 0.015 0.000 0.015 0.000 0.000 0.015 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.188 0.156 0.094 0.062 0.031 0.062 0.094 0.062 0.031 0.062 0.031 0.031 0.031 0.031 0.031 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.167 0.111 0.056 0.222 0.111 0.000 0.167 0.000 0.000 0.000 0.056 0.056 0.000 0.000 0.056 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.143 0.286 0.000 0.143 0.143 0.000 0.000 0.286 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000
0.000 0.000 0.000 0.000 0.000 1.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000 0.000

In [50]:
m1.index(max(m1))

18

In [52]:
max(m1[2])

0.18222372423115918